.explanation {
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 18px;
  overflow-y: auto;
  max-height: 100vh;
}

.explanation b {
  color: var(--secondary-color);
}

.explanation a {
  color: blue;
}
