.page {
  --secondary-color: #ff47ff;

  width: 100vw;
  height: 100vh;
  padding: 40px;
  display: flex;
  gap: 20px;
  color: var(--secondary-color);
  position: relative;
}

.header {
  padding: 20px;
}

.playStopButton {
  cursor: pointer;
  pointer-events: all;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  margin-right: 200px;
  padding-left: 60px;
}

.control {
  position: relative;
}

.controlLabel {
  position: absolute;
  right: 110%;
  top: 50%;
  transform: translateY(-50%);
}

.voiceGlobalControls {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-size: 28px;
  top: 50%;
  left: 107%;
  transform: translateY(-50%) scale(0.65);
}

.voiceGlobalControl {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  width: 300px;
}

.voiceGlobalControl p {
  margin-top: -2px;
}

.voiceGlobalControlDivider {
  position: absolute;
  left: -74px;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .page {
    flex-direction: column;
    padding: 20px 0 0 20px;
  }
}
